@tailwind base;
@tailwind components;
@tailwind utilities;

/* Custom Base Styles */
body {
    background-color: #05020a;
    color: white;
    overflow-x: hidden;
}

/* Hide scrollbar completely */
::-webkit-scrollbar {
    display: none;
}

html {
    scrollbar-width: none;
    /* Firefox */
    -ms-overflow-style: none;
    /* IE and Edge */
}